## Question 1.

### Tasks

In [28]:
# 1. Storing items and prices in a dictionary.
shop_items = { 
    "Bread": 25.0,
    "Milk": 18.0,
    "Eggs": 2.5,
    "Sugar": 20.0
}

In [29]:
# 2. Using a loop and the input function to ask how many of each item a user wants to buy.
quantities = {}

print("Welcome to Isaac's Shop")

Welcome to Isaac's Shop

In [30]:
for item in shop_items.keys():
    quantity = int(input(f"How many {item} do you want to buy?"))
    quantities[item] = quantity

How many Bread do you want to buy? 1
How many Milk do you want to buy? 1
How many Eggs do you want to buy? 1
How many Sugar do you want to buy? 1

In [31]:
# 3. Total Cost Calculation.
subtotal = 0

for item, price in shop_items.items():
    subtotal += price * quantities[item]

In [32]:
# 4. Applying Discount If Subtotal > 100 GHS.
discount = 0
if subtotal > 100:
    discount = 0.10 * subtotal

total = subtotal - discount

In [34]:
# 5. Receipt Printing.
print("\n----- RECEIPT -----")
for item, price in shop_items.items():
    item_total = price * quantities[item]
    print(f"{item} (x{quantities[item]}): GHS {item_total:.2f}")
print("---------------")
print(f"Subtotal: GHS {subtotal:.2f}")
print(f"Discount: GHS {discount:.2f}")
print(f"Total: GHS {total:.2f}")
print("----------------")
print("Thank you ðŸ™ for shopping with us ðŸ›’!")

----- RECEIPT -----
Bread (x1): GHS 25.00
Milk (x1): GHS 18.00
Eggs (x1): GHS 2.50
Sugar (x1): GHS 20.00
---------------
Subtotal: GHS 65.50
Discount: GHS 0.00
Total: GHS 65.50
----------------
Thank you ðŸ™ for shopping with us ðŸ›’!

## Question 2

### Tasks

In [8]:
# 1. Creating A List Of Dictionaries (each dictionary represents a student)
students = [
    {"name": "Ama", "Maths": 78, "Science": 82, "English": 74},
    {"name": "Kojo", "Maths": 65, "Science": 59, "English": 72},
    {"name": "Esi", "Maths": 90, "Science": 85, "English": 88},
    {"name": "Yaw", "Maths": 70, "Science": 75, "English": 68}
]

In [10]:
# 2. Calculating Each Student's Average Score And Add It To Their Dictionary.
for student in students:
    average_score = (student['Maths'] + student['Science'] + student['English']) / 3
    student.update({"Average": average_score})

In [13]:
# 3. Printing The Results In A Formatted Way Using f-strings.
print("----- STUDENT SCORES -----")
for student in students:
    print(f"{student['name']} = Maths: {student['Maths']}, Science: {student['Science']}, "
          f" English: {student['English']} -> Average: {student['Average']:.2f}")

----- STUDENT SCORES -----
Ama = Maths: 78, Science: 82,  English: 74 -> Average: 78.00
Kojo = Maths: 65, Science: 59,  English: 72 -> Average: 65.33
Esi = Maths: 90, Science: 85,  English: 88 -> Average: 87.67
Yaw = Maths: 70, Science: 75,  English: 68 -> Average: 71.00

In [15]:
# 4. Determining The Student With The Highest Average Score.
top_student = students[0]

for student in students:
    if student['Average'] > top_student['Average']:
        top_student = student

In [17]:
# 5. Display The Student With The Highest Average.
print("\n---- TOP STUDENT ----")
print(f"{top_student['name']} has the highest average score of {top_student['Average']:.2f}")

---- TOP STUDENT ----
Esi has the highest average score of 87.67

## Question 3

### Tasks

In [18]:
# 1. 
employees = ['Kwame', 'Akua', 'Yaw', 'Afia']
salaries = [3200, 4000, 2800, 5000]

In [19]:
# 2. Combining And Mapping The Two Lists Into Dictionary.
salary_dict = {}

for i in range(len(employees)):
    salary_dict[employees[i]] = salaries[i]

# Rule:
+7% if salary < 3500,

otherwise +4%

In [20]:
# 3. Adjusting Salaries Using Dictionary Methods The Rules Given.
for name, old_salary in salary_dict.items():
    if old_salary < 3500:
        new_salary = old_salary * 1.07 # 7% increase
    else:
        new_salary = old_salary * 1.04 # 4% increase

    # Using dictionary method .update() to modify salary
    salary_dict.update({name: new_salary})

    print(f"{name} | Old: {old_salary:.2f} | New: {new_salary:.2f}")

Kwame | Old: 3200.00 | New: 3424.00
Akua | Old: 4000.00 | New: 4160.00
Yaw | Old: 2800.00 | New: 2996.00
Afia | Old: 5000.00 | New: 5200.00

## Question 4

### Tasks

In [20]:
# 1. Creating A List Of All Even Numbers Between 2 And 20 (inclusive)
Even_numbers=list(range(2,21,2));Even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [21]:
# 2. Appending 22 To The List.
Even_numbers.append(22)
Even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [22]:
# 3. Remove The Smallest Number (2).
Even_numbers.pop(0)
Even_numbers

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [23]:
# 4. Compute The Sum And Average Of The Even Numbers.
SUM=sum(Even_numbers);SUM

130

In [24]:
AVERAGE=SUM/len(Even_numbers);AVERAGE

13.0

In [25]:
# 5. Printing Results.
print(f"Numbers:{Even_numbers}\n sum:{SUM} \n Average:{AVERAGE}")

Numbers:[4, 6, 8, 10, 12, 14, 16, 18, 20, 22]
 sum:130
 Average:13.0

## Question 5

### Tasks
#### Writing A Program That Counts How Many Times Each Vowel Appears In A Sentence.

In [10]:
# 1. Getting sentence input from the user.
sentence = input("Enter a sentence: ")

Enter a sentence:  isaac is a good boy

In [11]:
# 2. Createing a dictionary that stores vowel counts
vowels = {"a": 0, "e": 0, "i": 0, "o": 0, "u": 0}

In [12]:
# 3. Looping through each character in the sentence
for char in sentence.lower():  
    if char in vowels:
        vowels[char] += 1

In [13]:
# 4. Printing the results
print("\n--- VOWEL COUNTS ---")
for vowel, count in vowels.items():
    print(f"{vowel.upper()}: {count}")

--- VOWEL COUNTS ---
A: 3
E: 0
I: 2
O: 3
U: 0